body {
  background-color: #0d074d !important;
}

.MuiInput-underline:not(.Mui-error) {
  border-bottom: 2px solid white !important;
}

.MuiInput-root {
  color: white !important;
}

.MuiInputBase-input {
  font-size: 2.125rem !important;
  margin-top: -11px !important;
}

.MuiSelect-icon {
  top: calc(50% - 22px) !important;
  min-height: 0.885em !important;
}

.MuiSelect-select {
  min-height: 0.885em !important;
}

.MuiIconButton-root svg {
  color: white !important;
  margin-bottom: 10px !important;
}

.Mui-error {
  white-space: nowrap; 
}

.MuiSelect-select:focus  {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.0) !important;
}